@import "Variables";


#project-container li {
  line-height: 1.5rem;
  @include desktop {
    line-height: 2rem;
  }
}

#project-container, .skills-container, .contact-container {
  padding: 0 1rem;
  font-family: $fontBold;
  height: 100vh;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-flow: column;
  @include desktop {
    padding: 0 5rem;
    @include desktop-1440 {
      padding: 0 15rem;
    }
  }

  .github {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
    opacity: 0.5;
    color: $primary_font_color;
  }


  li {
    text-decoration: none;
    list-style: none;
    margin: 2rem 0;
    font-size: 3rem;


    @include desktop-1440 {
      font-size: 4rem;

    }

    a {
      color: $primary_font_color;
    }
  }

  a::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: transparent;
    transition: background .5s ease;
  }

  a:link {
    text-decoration: none;
    transition: color .5s ease;
  }

  a:hover {
    color: white;
  }

  #calmversation:hover::after {
    background: #52B0CC;
  }

  #pokedex:hover::after {
    background: rgba(255, 0, 0, 0.53);
  }

  #inhabitent:hover::after {
    background: #19625C;
  }

  #ponggame:hover::after {
    background: rgba(0, 20, 255, 0.45);
  }

  #instanews:hover::after {
    background: tomato;
  }


}
