@font-face {
    font-family: "Helvetica Neue Light";
    src: url("assets/fonts/HelveticaNeueLight.woff");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("assets/fonts/HelveticaNeueBold.woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: #22222a;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
